
.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 80px;
  top: 0;
  width: 100vw;
  align-items: center;
  z-index: 100;
  background-color: white;
}

.header__title {
  font-size: 21px;
  margin-top: 5px;
  margin-left: 25px;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.header__center > p {
  margin: 15px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  align-items: center;
  margin-right: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.first-child{
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.second-child{
  border-radius: 10px;
  background-color: black;
  color: white;
  height: 100%;
  font-weight:  200;
  border: 2px solid black;
  transition: 0.3s;
  padding: 15px;
}
.second-child:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
  
}

