.header {
  display: flex;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100vw;
  padding-top: 15px;
  z-index: 100;
  background-color: white;
  align-items: center;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__title {
  font-size: 21px;
  margin-top: 5px;
  margin-left: 25px;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.header__center > p {
  margin: 15px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-right: 15px;
  overflow: hidden;
}

.header__right > p {
  margin: 20px;
}

.header__center p:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.header__right button {
  background: none;
  border: 0.8px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 9px 10px;
  padding: 9px 10px;
  font-family: inherit;
  font-size: 15px;
  text-transform: uppercase;
}

.header__right .first-child {
  margin-right: 12px;
  transition: 0.2s;
}

.header__right .second-child {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.header__right .second-child:hover {
  background-color: rgb(35, 153, 65);
  border: 0.8px solid rgb(35, 153, 65);
}

.header__right button:hover {
  cursor: pointer;
  color: rgb(247, 247, 247);
  background-color: black;
  border: 0.8px solid black;
  border-radius: 50px;
  padding: 9px 10px;
}
