.sections {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-content {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: black;
  align-items: center;
  margin-bottom: 50%;
  background-color: rgb(235, 229, 229);
  padding: 30px;
  opacity: 0.8;
  justify-content: justify;
  text-align: center;
}

.item-content-child {
  margin-top: 15px;
  font-weight: 200;
  font-size: 16px;
}

.item__lowerSection {
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__expandicon {
  width: 100%;
  margin-top: 3%;
  color: rgb(17, 13, 13);
  display: flex;
  justify-content: center;
}

.item__expandicon:hover {
  transform: scale(2);
  transition: transform 0.55s ease-in-out;
}
